[submodule "References\\TDSL"]
	path = References\\TDSL
	url = https://github.com/HagarMeir/transactionLib.git
[submodule "References\\TL2"]
	path = References\\TL2
	url = https://github.com/ccaominh/tl2-x86.git
[submodule "References\\TLDS"]
	path = References\\TLDS
	url = https://github.com/ucf-cs/tlds.git
